<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bill</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bill/bill.css' %}">
</head>
<body>
    <ul>
      <li style="float:left"><a>bikers.com</a></li>
      <li><a href="{% url 'logout' %}">LOGOUT</a></li>
      <li><em>|</em></li>
      <li><a class="active" href="{% url 'index' %}">HOME</a></li>
       <li><a href="{% url 'report' %}">REPORT</a></li>
       <li><a href="{% url 'wallet' %}">WALLET</a></li>
       <li><a href="{% url 'rentbike' %}">RENT</a></li>
     <!-- <li><a href="return.html">Renturn</a></li>
     <li><a  class="active"  href="rent.html">Rent</a></li> -->
     </ul>
      </ul>
      <div class="body">
        <div class="clear-left"></div>
            <div class="table">
                
                    <div class="head"><h1>BILL</h1></div>  
                        <hr />  
                  <div class="row">  <span>Rent Location</span><span>{{ rent }}</span>
                </div>    
                <div class="row">  <span>Return Location</span><span>{{ return }}</span>
                </div>
                <div class="row">  <span>Price</span><span>{{ charge }}</span>
                </div>
                <hr class="line"/>
                <div class="last">
                    <a class="button" href="{% url 'wallet' %}">PAY</a></div>
            </div>
            <div class="clear-right"></div>
            </div>
</body>
</html>