.box{
    width: 1000px;
    height: 750px;

}
.top{
    height: 50px;
    width: 100%;
    background-color:black;
}

.top a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}
.top a.active{
    color: #4CAF50;
}

*{
    padding: 0;margin: 0;
}
.class-left .clear-right .table{
    display: inline-block;
}

html,body{
    height: 100%;
}
.body{
    display: flex;
    height: 100%;
}
.clear-left{
    height:100%;
    flex: 1;
}
.clear-right{
    height:100%;
    flex: 1;
}
.table{
    text-align: center;
    border-right-style: solid;
    border-left-style: solid;
    flex: 2.5;
    height: 100%;
}
.box{
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

menu a.active {
    background-color: #4CAF50;
}

.logo{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    float: left;
}