*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(../images/l2l-bike-ride.jpg);
    background-position: center top;
    background-repeat:no-repeat;
    background-size: 100%;
    width: 100%;
}
.box{
    width: 100%;
    text-align: center;
    
}
h1{
   padding-top: 200px;
   color: aliceblue;
   font-size: 100px;
   text-align: center;
}
h3{
    color: aliceblue;
    font-size: 20px;
    text-align: center;
}
h6{
    height: 40px;
    color: black;
    font-size: 20px;
    display: inline-block;
    position: absolute;
    left: 100px;
    bottom: 0;
}
img{
    position: absolute;
    left: 15px;
    bottom: 0;
}
.last{
    bottom: 15px;
    position: fixed;
    height: 40px;
    width: 100%;
}
.submit{
    position: absolute;
    right: 15px;
    bottom: 0;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    background-color:#4CAF50;
}
.submit a{
    color: white;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
em{
    color: white;
    font-style: normal;
    text-align: center;
    padding: 14px 16px;
    display: block;
}
.logo{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    float: left;
}